
form{

    text-align: center;
   
   }
   
   
   button{
       background-color:rgb(155, 120, 120);
       width: 200px;
       }
       h1{
       text-align: center;
       background-color: rgb(229, 142, 247);
       color: rgb(24, 18, 18);
       padding: 30px;
       }
       input{
       text-align: center;
        }
        form{
           text-align: center;
        }
        h3{
           text-align: center;
        }